header.header
  nav.nav.nav--tours
    a.nav__el(href='#') All Tours
  div.header__logo
    img(src='img/user.jpg' alt='Natours Logo')
  nav.nav.nav--user
    a.nav__el(href='#') My Bookings
    a.nav__el(href='#')
      img.nav__user-img(src='img/user.jpg' alt='User photo')
      span Jonas
    button.nav__el.nav___el--cta Sign up
    button.nav__el.nav___el--cta Login